In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("heart.csv")

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
df = df[df["restecg"]!=2]

In [5]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [6]:
more_than2=['thal','slope','cp']

In [7]:
df= pd.get_dummies(df, columns = more_than2, drop_first = True)

In [8]:
df

,age,sex,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,ca,target,thal_1,thal_2,thal_3,slope_1,slope_2,cp_1,cp_2,cp_3
0,52,1,125,212,0,1,168,0,1.0,2,0,0,0,1,0,1,0,0,0
1,53,1,140,203,1,0,155,1,3.1,0,0,0,0,1,0,0,0,0,0
2,70,1,145,174,0,1,125,1,2.6,0,0,0,0,1,0,0,0,0,0
3,61,1,148,203,0,1,161,0,0.0,1,0,0,0,1,0,1,0,0,0
4,62,0,138,294,1,1,106,0,1.9,3,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,140,221,0,1,164,1,0.0,0,1,0,1,0,0,1,1,0,0
1021,60,1,125,258,0,0,141,1,2.8,1,0,0,0,1,1,0,0,0,0
1022,47,1,110,275,0,0,118,1,1.0,1,0,0,1,0,1,0,0,0,0
1023,50,0,110,254,0,0,159,0,0.0,0,1,0,1,0,0,1,0,0,0
1024,54,1,120,188,0,1,113,0,1.4,1,0,0,0,1,1,0,0,0,0

In [9]:
X = df.drop(["target"], axis=1).values
y = df["target"].values

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
scaler = StandardScaler()
X_train_tr = scaler.fit_transform(X_train)
X_test_tr = scaler.transform(X_test)

In [31]:
model_list = [
   LogisticRegression (),
   KNeighborsClassifier(),
    DecisionTreeClassifier()
]

In [32]:
for model in model_list:
    model.fit(X_train_tr, y_train)
    y_pred = model.predict(X_test_tr)
    print(model.__class__)
    print(accuracy_score(y_pred, y_test))

<class 'sklearn.linear_model._logistic.LogisticRegression'>
0.8616600790513834
<class 'sklearn.neighbors._classification.KNeighborsClassifier'>
0.8537549407114624
<class 'sklearn.tree._classes.DecisionTreeClassifier'>
1.0